$primary-color: rgb(206, 18, 19);
@keyframes img-animation {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: 30px;
    }
}

main {
    .healthy-meal {
        background-color: rgb(242, 242, 242);
        padding: 5rem 15%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .healthy-meal-content {
            h1 {
                font-family: "Shadows Into Light", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 50px;
                color: rgb(78, 78, 89);
            }

            p {
                font-size: 20px;
                margin: 40px 0;
            }

            .btn-healthy-meal1 {
                padding: 8px 20px;
                background-color: $primary-color;
                color: white;
                border-radius: 20px;
                transition: .2s;

                &:hover {
                    background-color: rgba(206, 18, 18, 0.889);
                }
            }

            .btn-healthy-meal2 {
                color: black;
                padding: 8px 20px;
                transition: .2s;

                i {
                    color: $primary-color;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .healthy-meal-img {
            width: 40%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            animation-name: img-animation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
        }
    }

    .about {
        padding: 5rem 15%;
        h5 {
            color: rgb(78, 78, 89);
            text-align: center;
        }

        .heading-part-about {
            color: rgb(78, 78, 89);
            text-align: center;

            span {
                font-family: "Shadows Into Light", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 30px;
                color: $primary-color;
            }
        }

        .grid {
            display: grid;
            justify-content: center;

            .grid-img {
                grid-column: 1/3;
                grid-row: 1/3;
                background-color: black;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .4;
                    transition: .4s;
                }

                &:hover img {
                    opacity: .7;
                    transform: scale(1.2);
                }
            }

            .grid-span {
                grid-column: 1/3;
                grid-row: 3/ 8;
                border: 3px solid rgb(78, 78, 89);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .content {
                    font-weight: 700;
                }

                .red-span {
                    color: $primary-color;
                }
            }

            .grid-about {
                grid-column: 3/4;
                grid-row: 1/2;

                p {
                    font-style: italic;
                    color: rgb(78, 78, 89);
                    font-size: 13px;
                    line-height: 17px;
                }

                ul {
                    li {
                        padding: 7px;
                        line-height: 17px;
                        font-size: 10px;

                        i {
                            padding: 2px 3px;
                            background-color: $primary-color;
                            border-radius: 50%;
                            color: white;
                        }
                    }
                }
            }

            .grid-video {
                background-color: black;
                position: relative;
                grid-column: 3/4;
                grid-row: 2/8;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .4;
                    transition: .4s;
                }

                a {
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    color: white;
                    padding: 15px 20px;
                    background-color: $primary-color;

                    &:hover i {
                        transform: scale(1.5);
                    }
                }

                i {
                    transition: .2s;
                }

                &:hover img {
                    opacity: .7;
                    transform: scale(1.2);
                }
            }
        }
    }

    .card-part{
        padding: 5rem 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        .cards{
            width: 40%;
        }
    }
}



@media (max-width:991px) {
    main {
        .healthy-meal {
            min-height: 170vh;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            .healthy-meal-content {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                padding: 0;

                .btn-healthy-meal2 {
                    padding: 8px 0;
                }
            }

            .healthy-meal-img {
                order: 1;
                min-width: 90%;
                height: 100%;

                @keyframes img-animation {
                    from {
                        margin-top: 0px;
                    }

                    to {
                        margin-top: 0px;
                    }
                }

                img {
                    object-fit: cover;
                }

            }

            .healthy-meal-content {
                order: 2;
            }
        }

        // .about {
        //     .grid {
        //         .grid-img {
        //             grid-column: 1/4;
        //             grid-row: 1/5;
        //         }

        //         .grid-span {
        //             grid-column: 1/4;
        //             grid-row: 5/6;
        //         }

        //         .grid-about {
        //             grid-column: 1/4;
        //             grid-row: 6/7;
        //         }

        //         .grid-video {
        //             grid-column: 1/4;
        //             grid-row: 7/8;
        //         }
        //     }
        // }

        .about{
            .grid-img{
                grid-column: 1/4;
                grid-row: 1/3;
            }
            .grid-span{
                grid-column: 1/4;
                grid-row: 3/5;
            }
            .grid-about{
                grid-column: 1/4;
                grid-row: 5/6;
            }
            .grid-video{
                grid-column: 1/4;
                grid-row: 6/8;
            }
        }
    }
}